%h2 All the SpaceCats

%table
  %tr
    %th Name
    %th
  - @spacecats.each do |cat|
    %tr
      %td= cat.name
      %td
        ="<a href='#{cat.id}'>Show Cat</a>"
%br
%br
%a{:href=>"/new"}New SpaceCat