<!DOCTYPE html>
<html>
  <head>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <h1>SpaceCats to the Rescue!</h1>
    <a href="/index">Home</a>
    <br>
    <br>
    <%= yield %>
  </body>
</html>