!!!
%html
  %head
    %link{:href=>"/bootstrap/css/bootstrap.css", :rel=>"stylesheet"}
    %link{:href=>"/custom.css", :rel=>"stylesheet"}
  %body
    %h1 SpaceCats to the Rescue!
    %a{:href=>"/index"}Home
    %br
    %br
    = yield