<form action="/index" method="POST">
  <label for_id="name">Name:</label>
  <input id="name" type="text" name="name">

  <label for_id="planet">Home Planet:</label>
  <input id="planet" type="text" name="home_planet">

  <label for_id="tagline">Tagline:</label>
  <input id="tagline" type="text" name="tagline">

  <label for_id="superpower">Superpower:</label>
  <input id="superpower" type="text" name="superpower">

  <input type="submit" value="A New SpaceCat is Born!">
</form>